div {
	display: flex;
	height: 70vh;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: slategray;
  }

  p {
	padding: 20px;
	margin: 10px;
	border: 1px solid white;
  }